.home_style {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.btns_style {
  margin-right: 10vh;
  margin-top: 6vh;
  margin-left: auto;
}

.home_img_caption {
  margin-top: 25vh;
  margin-left: 25vh;
}

.home_page_caption {
  margin-left: 21vh;
  font-size: 2vh;
  letter-spacing: 0.5vh;
  color: rgb(209, 203, 196);
  font-family: "Satisfy", cursive;
}

.btn_style {
  margin-left: 4vh;
  background-color: transparent;
  outline: none;
  border: 2px solid rgb(182, 206, 241);
  color: aliceblue;
  font-size: 2vh;
  border-radius: 1vh;
  cursor: pointer;
}

.log_pad {
  padding: 1vh 2.5vh;
}

.sin_pad {
  padding: 1vh 2vh;
}

.first_caption {
  font-size: 5vh;
  margin-top: 0px;
}

.flex_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.login_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 7vh 0vh 7vh 0vh;
  padding: 4vh;
  box-shadow: 0 0 10vh #13547a;
}

.inpt_style {
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  color: black;
  direction: none;
  width: 12em;
  margin-top: 0px;
  margin-bottom: 4vh;
  margin-left: 0px;
  outline: none;
  font-size: 3.2vh;
  font-family: Garamond, serif;
  font-weight: bold;
}

.login_btn_style {
  outline: none;
  border: 1px solid black;
  font-size: 2.5vh;
  padding: 1vh 10vh 1vh 10vh;
  border-radius: 2vh;
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  font-family: "Domine", serif;
  letter-spacing: 0.3vh;
}

.login_head {
  font-size: 5vh;
  margin-bottom: 5vh;
}
